In [30]:
import pandas as pd
STATES= pd.Series(['California', 
                   'OH', 
                   'Michigan', 
                   'NY'])

In [31]:
# I want 'CA', 'OH', 'MI', 'NY'

In [32]:
def clean_state(state):
    if len(state)== 2:
        return state
    elif state == 'Alabama':
        return 'AL'
    elif state == 'Alaska':
        return 'AK'
    #...
    elif state =='California':
        return 'CA'
    elif state =='Michigan':
        return 'MI'
    #...

In [37]:
###Long Way###
#clean_states = []
#for state in states:
    #clean_states.append(clean_state(state))
#clean_states = pd.Series(clean_state)

In [38]:
clean_states_applied = STATES.apply(clean_state)#clean_state is the function

In [39]:
print (clean_states_applied)

0    CA
1    OH
2    MI
3    NY
dtype: object

In [ ]:
#Exercise: Take a series of names in the format "Firstname Lastname"
# and put them in the format"Lastname, Firstname

In [40]:
names = pd.Series([
    'Andre Agassi',
    'Barry Bonds',
    'Christopher Columbus',
    'Daniel Defoe',
    'Emilio Estevez',
    'Fred Flintstone',
    'Greta Garbo',
    'Humbert Humbert',
    'Ivan Ilych',
    'James Joyce',
    'Keira Knightley',
    'Lois Lane',
    'Mike Myers',
    'Nick Nolte',
    'Ozzy Osbourne',
    'Pablo Picasso',
    'Quirinus Quirrell',
    'Rachael Ray',
    'Susan Sarandon',
    'Tina Turner',
    'Ugueth Urbina',
    'Vince Vaughn',
    'Woodrow Wilson',
    'Yoji Yamada',
    'Zinedine Zidane'
])

In [41]:
def reverse_name(name):
    split_name = name.split(" ")
    firstname = split_name[0]
    lastname = split_name[1]
    return lastname + "," + firstname

def reverse_Series(input_series):
    return names.apply(reverse_name)

In [42]:
reverse_Series(names)

0             Agassi,Andre
1              Bonds,Barry
2     Columbus,Christopher
3             Defoe,Daniel
4           Estevez,Emilio
5          Flintstone,Fred
6              Garbo,Greta
7          Humbert,Humbert
8               Ilych,Ivan
9              Joyce,James
10         Knightley,Keira
11               Lane,Lois
12              Myers,Mike
13              Nolte,Nick
14           Osbourne,Ozzy
15           Picasso,Pablo
16       Quirrell,Quirinus
17             Ray,Rachael
18          Sarandon,Susan
19             Turner,Tina
20           Urbina,Ugueth
21            Vaughn,Vince
22          Wilson,Woodrow
23             Yamada,Yoji
24         Zidane,Zinedine
dtype: object